<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #c0ebda;
            font-family: sans-serif;
        }

        h1 {
            color: #a53acc;
            font-size: 2em;
            margin-top: 0;
        }

        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #f10404;
        }

        th {
            background-color: #5facf0;
        }
    </style>
</head>
<body>
    <h1>Kivy Commands and Properties</h1>
    <ul>
    <li style="color:rgb(24, 23, 23)4;" ><a href="/1">Go to Terminal Commands</a></li>
    <li style="color:rgb(24, 23, 23)4;" ><a href="/">Go to flask Commands</a></li>
    <li  style="color:rgb(24, 23, 23)4;" ><a href="/2">Go to topython Commands</a></li>
    <li  style="color:rgb(24, 23, 23)4;"><a href="/3">Go to  kivi Commands</a></li>
    <li  style="color: #f10404;"><a href="/code.png">Example code whit kivi Commands</a></li>
</ul>


    <table>
        <tr>
            <th>Command or Property</th>
            <th>Explanation</th>
        </tr>
        <tr>
            <td>Label</td>
            <td>Widget designed for displaying text.</td>
        </tr>
        <tr>
            <td>Button</td>
            <td>Widget intended for user interface applications, including a clickable button.</td>
        </tr>
        <tr>
            <td>TextInput</td>
            <td>Widget that allows user text input.</td>
        </tr>
        <tr>
            <td>Image</td>
            <td>Widget designed for displaying images.</td>
        </tr>
        <tr>
            <td>Widget</td>
            <td>Basic class from which all widgets in Kivy inherit. Allows you to create and customize personalized widgets.</td>
        </tr>
        <tr>
            <td>Builder</td>
            <td>Tool for loading .kv files to define the user interface separately from the code.</td>
        </tr>
        <tr>
            <td>kv</td>
            <td>The description language of Kivy, used to define user interfaces and their relationships.</td>
        </tr>
        <tr>
            <td>AnchorLayout</td>
            <td>Layout that allows you to anchor an item to a specific location in the display and change its position based on window size changes.</td>
        </tr>
        <tr>
            <td>GridLayout</td>
            <td>Layout for arranging display systems in rows and columns, just like a table.</td>
        </tr>
        <tr>
            <td>Clock</td>
            <td>Class that provides tools for managing timing and creating timed functions in Kivy.</td>
        </tr>
        <tr>
            <td>ScrollView</td>
            <td>Widget that allows you to display large content outside the display frame through scrolling.</td>
        </tr>
        <tr>
            <td>Slider</td>
            <td>Widget for controlling numeric values by moving a slider within a range.</td>
        </tr>
        <tr>
            <td>ProgressBar</td>
            <td>Widget used for displaying progress in a task or process.</td>
        </tr>
        <tr>
            <td>Switch</td>
            <td>Widget intended to toggle between two states, like a switch.</td>
        </tr>
        <tr>
            <td>Spinner</td>
            <td>Widget designed to display options in a dropdown list.</td>
        </tr>
        <tr>
            <td>Canvas</td>
            <td>Widget that allows you to draw custom graphics on other widgets using loops, painting, and more.</td>
        </tr>
    </table>
</body>
</html>
